@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Nunito:wght@200;300;400;500;600&display=swap');

body{
    max-width: 1920px;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
}
/*  navbar */
.navbar{
    max-width: auto;
    height: auto;
}
.a:link, .a:visited{
    padding: 10px 10px;
    color: #36b6cd;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.a:hover{
    background-color: #36b6cd;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313e53;
}

li{
    float: left;
    display: block;
    text-align: center;
}
.lang{
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.logo{
    float: left;
    padding-left: 110px;
    padding-top: 20px;
    padding-bottom: auto;
}
.menu{
    padding-top: 70px;
    padding-left: 190px;
    padding-bottom: auto;
}

.menu-links{
    margin-right: 30px;
}
.numbers{
    padding-top: 54px;
    padding-left: 80px;
    padding-bottom: auto;
    color: white;
}

/* banner */
@keyframes banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.img-banner{
    max-width: 1920px;
    height: 759px;
    background-image:url("../img/banner.png");
    position: relative;
}
.img-banner::after{
    animation: banner 0.5s ease 0s 1 normal forwards;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-image: url("../img/banner-overlay.png");
    background-size: 100% 100%;
}
@keyframes banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*offer-2*/
.offer2-logo{
    padding-top: 33px;
    padding-left: 215px;
}
.offer2-head{
    color: #fff;
    margin-left: 211px;
    font-size: 32px;
}
.offer2-text{
    margin-left: 211px;
    font-weight: bold;
    font-size: 23px;
}
.offer2-link:link, .offer2-link:visited{
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding-left: 215px;
    margin-bottom: 37px;
}
.offer2-link:hover{
    color: #000;
    transition: 0.2s;
}
.offer-2{
    margin-top: 152px;
    max-width: 1542px;
    height: 451px;
    background-image: url("../img/offer2.png");
    background-repeat: no-repeat;
}

/*offer-3*/
.offer-3{
    margin-top: 95px;
    margin-left: 210px;
    margin-right: 340px;
}
.offer3-text{
    font-size: 30px;
    color: #384556;
}
/*poslugy*/
.hr-vertical{
    border: none;
    border-left: 1px hsla(200, 10%, 50%, 100);
    color: #36b6cd;
    height: auto;
    width: 1px;
}
.poslugy{
    padding-top: 50px;
    padding-left: 210px;
    padding-right: 250px;
}
.poslugy-head{
    font-size: 48px;
    font-weight: 400;
    line-height: 43px;
    width: 500px;
    color: #384556;
    float: left;
}
.poslugy-brand{
    font-size: 48px;
    font-weight: bolder;
    line-height: 43px;
    width: 500px;
    float: left;
    color: #36b6cd;
    margin-bottom: 35px;
}
.poslugy-text{
    position: relative;
    font-size: 17px;
    margin-bottom: 5px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(2, 300px);
}
.poslugy-first{
}
.poslugy-second{
}
.poslugy-third{
}
.poslugy-fourth{
    margin-top: 15px;
}

.poslugy-link:link, .poslugy-link:visited{
    color:#000;
    float: left;
    text-decoration: none;
    text-align: left;
    font-weight: 900;
}
.poslugy-link:hover{
    color: #36b6cd;
    transition: 0.2s;
}