@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Nunito:wght@200;300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
}
/*  navbar */
.navibar{
    max-width: auto;
    height: auto;
}
.a:link, .a:visited{
    padding: 10px 10px;
    color: #36b6cd;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.a:hover{
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.a-lang:link, .a-lang:visited{
    padding: 10px 10px;
    color: #36b6cd;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.a-lang:hover{
    background-color: #36b6cd;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313e53;
}

li{
    float: left;
    display: block;
    text-align: center;
}
.lang{
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.logo{
    float: left;
    padding-left: 245px;
    padding-top: 20px;
    padding-bottom: auto;
}
.menu{
    padding-top: 70px;
    padding-left: 190px;
    padding-bottom: auto;
}

.menu-links{
    margin-right: 30px;
}
.numbers{
    padding-top: 54px;
    padding-left: 80px;
    padding-bottom: auto;
    color: white;
}

/* banner */
@keyframes banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.img-banner{
    max-width: 100%;
    height: 759px;
    background-image:url("../img/banner.png");
    position: relative;
}
.img-banner::after{
    animation: banner 0.5s ease 0s 1 normal forwards;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-image: url("../img/banner-overlay.png");
    background-size: 100% 100%;
}
@keyframes banner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*offer-2*/
.offer2-logo{
    padding-top: 33px;
    padding-left: 215px;
}
.offer2-head{
    color: #fff;
    margin-left: 211px;
    font-size: 32px;
}
.offer2-text{
    margin-left: 211px;
    font-weight: bold;
    font-size: 23px;
}
.offer2-link:link, .offer2-link:visited{
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding-left: 215px;
    margin-bottom: 37px;
}
.offer2-link:hover{
    color: #000;
    transition: 0.2s;
}
.offer-2{
    margin-top: 152px;
    max-width: 1542px;
    height: 451px;
    background-image: url("../img/offer2.png");
    background-repeat: no-repeat;
}

/*offer-3*/
.offer-3{
    margin-top: 95px;
    margin-left: 210px;
    margin-right: 340px;
}
.offer3-text{
    font-size: 30px;
    color: #384556;
}
/*services*/
.hr-vertical{
    border: none;
    border-left: 1px hsla(200, 10%, 50%, 100);
    color: #36b6cd;
    height: auto;
    width: 1px;
}
.services{
    padding-top: 50px;
    padding-left: 210px;
    padding-right: 250px;
}
.services-head{
    font-size: 48px;
    font-weight: 400;
    line-height: 43px;
    width: 500px;
    color: #384556;
    float: left;
}
.services-brand{
    font-size: 48px;
    font-weight: bolder;
    line-height: 43px;
    width: 500px;
    float: left;
    color: #36b6cd;
    margin-bottom: 35px;
}
.services-text{
    position: relative;
    font-size: 17px;
    margin-bottom: 5px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(2, 300px);
}
.services-first{
}
.services-second{
}
.services-third{
}
.services-fourth{
    margin-top: 15px;
}

.services-link:link, .services-link:visited{
    color:#000;
    float: left;
    text-decoration: none;
    text-align: left;
    font-weight: 900;
}
.services-link:hover{
    color: #36b6cd;
    transition: 0.2s;
}

/*competence*/
.competence{
    margin-top: 50px;
    max-width: 100%;
    height: 639px;
    background-image: url("../img/comp-bg.png");
    background-repeat: no-repeat;
}
.comp-dot{
    position: absolute;
    background-image: url("../img/dot.png");
    width: 1901px;
    height: 33%;
    animation: dot 3s ease 0s infinite normal forwards;
}

@keyframes dot {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
.сomp-header{
    padding-top: 77px;
    padding-left: 214px;    
    font-size: 60px;
    color: #fff;
    line-height: 0;
}

.comp-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.comp-ul{
    list-style: none;
    width: 300px;
    padding-left: 350px;
    padding-top: 75px;
    float: left;
}
.comp-ul2{
    list-style: none;
    width: 300px;
    padding-top: 75px;
    padding-left: 232px;
    float: left;
}
.comp-text-bl{
    color: #00cbd5;
    font-size: 23px;
    line-height: 5px;
}
.comp-text-wh{
    color: #fff;
    font-size: 23px;
    line-height: 5px;
}
.comp-text{
    color: #fff;
    position: absolute;
    font-size: 21px;
    width: 620px;
    padding-left: 214px;
}
/*carousel*/
.carousel{
    margin-top: 198px;
    margin-bottom: 138px;
    display: grid;
    place-items: center;
}
.slider {
    width: 100%;
    max-width: 1476px;
    height: 488px;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    max-width: 1476px;
    height: 488px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 64px;
    height: 64px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transition: 0.3s;
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 20px;
  }
  
  .btn-next {
    top: 45%;
    right: 20px;
  }
.carousel-portfolio:link, .carousel-portfolio:visited{
    font-size: 17px;
    color: #313e53;
    text-decoration: none;
    padding-top: 42px;
    padding-left: 1295px;
}
.carousel-portfolio:hover{
    transition: 0.3s;
    color: #00cbd5;
    text-decoration: none;
}
/*footer*/
.footer{
    margin-top: 50px;
    background-color: #00cbd5;
}
.footer-ul{
    color: #fff;
    max-height: 145px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 265px;
}
.footer-li{
    float: left;
    display: block;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 40px;
    font-size: 22px;
}
.footer-text2{
    padding-left: 62px;
}
.footer-text3{
    padding-left: 232px;
    padding-right: 268px;
}
.footer-text4{

}
.footer-link, .footer-link:visited{
    text-decoration: none;
    color: #313e53;
    font-weight: 1000;
}

.footer-link:hover{
    transition: 0.2s;
    color: #fff;
}